language: node_js
node_js:
  - '10.16.0'
cache:
  directories:
  - "$HOME/.npm"
before_install:
  - nvm install
install:
  - npm ci
services:
  - postgresql
env:
  global:
  - NODE_ENV=test
before_script:                         # Install node version from .nvmrc
  - psql -c 'create database test_teamwork;' -U postgres
  - psql -c "CREATE USER odinaka_joy WITH PASSWORD 'Odionye@909';" -U postgres
  - npm install -g sequelize-cli
  - sequelize db:migrate
script:
  - npm test
after_success:
  - npm run coverage
