# multiple tests suites
language: node_js
node_js:
  - '10.16.0'
cache:
  directories:
  - "$HOME/.npm"
install:
  - npm ci
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - nvm install
  - npm run test:coveralls
  - npm run test:coverage
after_script:
  - ./cc-test-reporter after-build
after_success:
  - npm install cc-test-reporter
  - cc-test-reporter < coverage/lcov.info
notification:
  - email: false